@import "custom";
@import "bootstrap";
@import "validetta";

body {
background: #E0F1FF;
background-size: contain;
}

.hidden {
display:none;
}

.container {
max-width:400px;
}

.btn-secondary {
border-radius:30px;
font-size: 2rem;
width: 100%;
}

hr {
margin:auto;
margin-top:35px;
width:75px;
margin-bottom:35px;
border: solid #A0D4FF 2px;
}

.form-group {
border-radius: 30px;
background-color:white;
}

.validetta-inline {
margin:-10px 0 15px
}

img {
	position:absolute;
    opacity: 0;
    top: 208px;
    left: 0;
    width: 100%;
    height: 30px;
}

.form-check .validetta-inline {
margin-top:5px;	
}

.btn-secondary {
background: #A0D4FF;
border: none;
box-shadow: 1px 2px 2px 1px grey;
}
.btn-secondary:hover {
background: #FFF;
color:#A0D4FF;
box-shadow: 0px 0px 0px 0px grey;
}
.btn-secondary:active {
background: #FFF;
color:#A0D4FF;
}
.btn-secondary:not(:disabled):not(.disabled):active {
background : #85C7FE;
color:white;
border:none;
}
.btn-primary {
background : #A0D4FF;
border: none;
}

.btn-primary:hover {
background : #85C7FE;
}

.btn-primary:not(:disabled):not(.disabled):active {
background : #85C7FE;
color:white;
border:none;
}
.btn-primary:focus, .btn-primary.focus {
box-shadow: none;
}

.btn-annuler {
background:#E0F1FF;
}

h1 {
color: #A0D4FF;
}

a {
color:#A0D4FF;
}

a:hover {
color:#85C7FE;
text-decoration: none;
}

.form-control::placeholder {
color: #A0D4FF;
}