@import "custom";
@import "bootstrap";
@import "validetta";

body {

}

.hidden {
display:none;
}

.container {
max-width:400px;
}

.btn-secondary {
border-radius:30px;
font-size: 2rem;
width: 100%;
}

hr {
margin-top:35px;
width:50px;
border: solid black 2px;
margin-bottom:35px;
}

.form-group {
border : solid 1px black;
border-radius: 30px;
}

.validetta-inline {
margin:-10px 0 15px
}

img {
	position:absolute;
    opacity: 0;
    top: 208px;
    left: 0;
    width: 100%;
    height: 30px;
}

.form-check .validetta-inline {
margin-top:5px;	
}